html, body { height: 100%; }

body {
  font-size: 1em;
  line-height: 1.6;
  color: $black;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  line-height: 1;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  transition: border-color 300ms ease-out;

  &:hover {
    border-color: rgba(0, 0, 0, 1);
  }
}

svg {
  height: 100%;
  width: 100%;
  max-width: 100%;
}

img {
  max-width: 100%;
}
