// Header
.hero-header {
  min-height: 420px;
  background-color: $light-gray;
  color: $dark-gray;
  display: flex;
  align-items: center;
  justify-content: space-around;

  // Tablets
  @media (max-width: $tablets) {
    flex-direction: column;
  }

  // Mobile
  @media (max-width: $mobile) {
    display: block;
  }
}

.hero-divider {
  display: none;
  height: 0;
  border-bottom: solid $dark-gray;
  width: 10%;

  @media (max-width: $tablets) {
    display: block;
    border-width: 1px;
  }

  @media (max-width: $mobile) {
    float: left;
    margin-left: 30px;
    border-width: 3px;
  }
}

.text {
  margin-top: -30px;

  @media (max-width: $mobile) {
    margin: 0px 0 20px 30px;
    padding-top: 70px;
    .hero-title {
      font-size: 3.5em;
    }
    .hero-subtitle {
      font-size: 1.125em;
      line-height: 1.2;
    }
  }
}

.cta {
  @media (max-width: $mobile) {
    margin: 0px 0 0 30px;
    padding: 40px 50px 0 0;
    .btn-cta {
      text-align: center;
    }
  }
}

.cta a:first-child {
  margin-right: 20px;
}

// Main
section.about {
  max-width: 768px;
  margin: 30px auto 0;
  padding: 0 15px;
  font-size: 1.2em;
  font-weight: 500;
}

.hero-image {
  /* Shrinking image as a personal preference */
  height: 70%;
  width: 70%;
}

// Footer
footer {
  background-color: $light-gray;
  color: $dark-gray;
  padding: 25px;
  font-weight: 500;

  p {
    margin: 0px;
    line-height: 1.2;
    margin-left: 90px;

    @media (max-width: $tablets) {
      margin: 0;
    }
  }

  a {
    color: inherit;
    line-height: 1;
    border-bottom: 1px solid rgba(159, 159, 159, 0);
    transition: border-color 300ms ease-out;

    &:hover {
      border-color: rgba(159, 159, 159, 1);
    }
  }

  @media (max-width: $tablets) {
    text-align: center;
  }
}
