.slb {
  box-shadow: 2px 2px 12px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.center {
  max-height: 90%;
  max-width: 90%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#overlay {
  display: none;
  background: rgb(255, 255, 255);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  cursor: pointer;
}

.cross {
  display: none;
  width: 40px;
  position: fixed;
  right: 0;
  top: 0;
  margin: 20px 25px 0 0;
  cursor: pointer;
  transition: 300ms all ease-in-out;
  z-index: 99;
  opacity: 1;
}

.cross-close {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  opacity: 0;
}